@import '../../assets/styles/variables.scss';

.card {
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;

	&.water {
		background: rgba($eWater, 0.15);
	}
	&.dragon {
		background: rgba($eDragon, 0.15);
	}
	&.electric {
		background: rgba($eElectric, 0.15);
	}
	&.fairy {
		background: rgba($eFairy, 0.15);
	}
	&.ghost {
		background: rgba($eGhost, 0.15);
	}
	&.fire {
		background: rgba($eFire, 0.15);
	}
	&.ice {
		background: rgba($eIce, 0.15);
	}
	&.grass {
		background: rgba($eGrass, 0.15);
	}
	&.bug {
		background: rgba($eBug, 0.15);
	}
	&.fighting {
		background: rgba($eFighting, 0.15);
	}
	&.normal {
		background: rgba($eNormal, 0.15);
	}
	&.dark {
		background: rgba($eDark, 0.15);
	}
	&.steel {
		background: rgba($eSteel, 0.15);
	}
	&.rock {
		background: rgba($eRock, 0.15);
	}
	&.psychic {
		background: rgba($ePsychic, 0.15);
	}
	&.ground {
		background: rgba($eGround, 0.15);
	}
	&.poison {
		background: rgba($ePoison, 0.15);
	}
	&.flying {
		background: rgba($eFlying, 0.15);
	}

	.card_info {
		padding: 12px 16px;

		.card_id {
			color: $cDarkGray;
			font-size: 12px;
			font-weight: 600;
		}
		.name {
			color: $cBlack;
			font-size: 21px;
			font-weight: 600;
			margin-bottom: 8px;
		}
		.card_types {
			display: flex;
			flex-direction: row;
			gap: 4px;
		}
	}
}
