@import '../../assets/styles/variables.scss';

#search {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 25px;
  text-align: center;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid $cGray;
    padding: 0 5px 0 20px;

    input {
      border: none;
      background: transparent;
      color: $cBlack;
      flex: 1;

      &:focus {
        outline: none;
      }
    }

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      width: 45px;
      height: 45px;
    }
  }

  .form_alerts {
    color: $cRed;
  }
}