//* Fonts
$fPoppins: 'Poppins', sans-serif;

//* Colors
$cBlack: #000000;
$cWhite: #ffffff;
$cRed: #d72e2e;
$cDarkGray: #333333;

//* Elements colors
$eWater: #5090d6;
$eDragon: #0b6dc3;
$eElectric: #f4d23c;
$eFairy: #ec8fe6;
$eGhost: #5269ad;
$eFire: #ff9d55;
$eIce: #73cec0;
$eGrass: #63bc5a;
$eBug: #91c12f;
$eFighting: #ce416b;
$eNormal: #919aa2;
$eDark: #5a5465;
$eSteel: #5a8ea2;
$eRock: #c5b78c;
$ePsychic: #fa7179;
$eGround: #d97845;
$ePoison: #b567ce;
$eFlying: #89aae3;
